body {
    background-color: lightgrey;
} 
h1 {
	background-color: blue;
    width: 260px;
    border: 15px solid navy;
    margin: 15px;
}
ul {
	position: absolute;
	left: 290px;
	top: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: left;
}

a {
	font-size: 30px;
	color: black;
    display: block;
    padding:10px;
}
p {
	font-size: 20px
}